body {
    background-color: aliceblue;
}

input {
    font-family: 'Courier New', Courier, monospace;
}

label {
    font-family: 'Courier New', Courier, monospace;
}

img {
    height: 13px;
    text-align: center;
}

#cabecalho {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    font-family: 'Courier New', Courier, monospace;
}

section {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

#section1 {
    margin-bottom: 40px;
}

table,
th,
tr,
td {
    border: solid black 1px;
    font-family: 'Courier New', Courier, monospace;
}

th {
    background-color: lightgrey;
}

.botao {
    padding-left: 15px;
    background-color: aliceblue;
    border-color: none;
    border: none;
    outline: none;
}

td {
    text-align: left;
    padding-left: 13px;
}

table {
    border-collapse: collapse;
    text-align: center;
}